#member.col-lg-12
    p
        a(href='/page/membership')
            img.img-responsive(src='https://353a23c500dde3b2ad58-c49fe7e7355d384845270f4a7a0a7aa1.ssl.cf2.rackcdn.com/img/f9424d0d4ff839695874b4d26a567833c1e4d331/becomemember.jpg')