if _path == "/index.html"
    ul#cbp-bislideshow.cbp-bislideshow
        li
            img(src='https://353a23c500dde3b2ad58-c49fe7e7355d384845270f4a7a0a7aa1.ssl.cf2.rackcdn.com/img/1c342cd83324b3fdd43facb9ffd1ab6593b554f8/event.jpg', alt='image01')
            .caption
              h1 Think Event
              h3
                | Raise Your Business Profile In Lanarkshire With An Array Of Events including Lunches, Breakfast Networking And Sector Specific Seminars
        li
            img(src='https://353a23c500dde3b2ad58-c49fe7e7355d384845270f4a7a0a7aa1.ssl.cf2.rackcdn.com/img/8d7e3d86adf1ea61f56f9010e2d526d1ca62350b/export.jpg', alt='image02')
            .caption
              h1 Think Export
              h3
                | Leisure & Hospitality And International Trade. All Closer With Lanarkshire Chamber Of Commerce.
        li
            img(src='https://353a23c500dde3b2ad58-c49fe7e7355d384845270f4a7a0a7aa1.ssl.cf2.rackcdn.com/img/882d20ffc97388a13459e96c1ece8f386c1e126e/networking.jpg', alt='image01')
            .caption
              h1 Think Networking
              h3 Getting Together Makes A Difference, Working Together Creates Opportunity.   
    #cbp-bicontrols.cbp-bicontrols
      span.cbp-biprev
      span.cbp-bipause
      span.cbp-binext