extends layout-general

block content

  h1.title-header Contact Us
  hr
  .main-content
    .contact-wrapper
      p Lanarkshire Chamber of Commerce
      p Suite 4 West Stand New Douglas Park Cadzow Avenue Hamilton ML3 0FT
      ul#contact-details
        li#phone 
          i.fa.fa-phone(aria-hidden='true') 
          | 01698 426882
        li#fax 
          i.fa.fa-fax(aria-hidden='true') 
          | 01698 424699
        li#email
          a(href='mailto:info@lanarkshirechamber.org') 
            i.fa.fa-envelope(aria-hidden='true')
            | info@lanarkshirechamber.org
      h3#our-location Our Location
      #map
        iframe(src='https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d143346.7031057602!2d-4.085374!3d55.84892000000001!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1466473380531', width='100%', height='300', frameborder='0', style='border:0', allowfullscreen='')
      .clear
    h3#contact-form Contact Form
    p Please fill in the form below.
    br
    form
      .row
        .col-md-12
          .row
            .col-md-12
              .eq-ui-form-group.eq-ui-input-field
                input#first_name_pre.eq-ui-input(type='text', placeholder='John Smith')
                label(for='first_name_pre') Full Name
        .col-md-12
          .row
            .col-md-12
              .eq-ui-form-group.eq-ui-input-field
                input#comp_name_pre.eq-ui-input(type='text', placeholder='ABC Company')
                label(for='comp_name_pre') Company Name

        .col-md-12
          .row
            .col-md-12
              .eq-ui-form-group.eq-ui-input-field
                input#email_val.eq-ui-input.validate(type='email', placeholder='abc.company@youremail.com')
                label(for='email_val', data-error='wrong', data-success='right') Email

        .col-md-12
          .row
            .col-md-12
              .eq-ui-form-group.eq-ui-input-field
                input#turn_over_sec.eq-ui-input(type='text', placeholder='This is (Optional)')
                label(for='turn_over_sec') Company Name

      .row
        .col-md-12
          p.text-form Number of Employees?
          .eq-ui-form-group
            input#individual.eq-ui-input.with-gap(name='group1', type='radio')
            label(for='individual') Individual / Sole Trader
          .eq-ui-form-group
            input#charity.eq-ui-input.with-gap(name='group1', type='radio')
            label(for='charity') Charity
          .eq-ui-form-group
            input#2_5_employess.eq-ui-input.with-gap(name='group1', type='radio')
            label(for='2_5_employess') 2 - 5 Employees
          .eq-ui-form-group
            input#6_50_employess.eq-ui-input.with-gap(name='group1', type='radio')
            label(for='6_50_employess') 6 - 50 Employees
          .eq-ui-form-group
            input#more_than_50.eq-ui-input.with-gap(name='group1', type='radio')
            label(for='more_than_50') More than 50 Employees

      .row
        .col-md-12
          p.text-form Are you an Exporter?
          .col-xs-12.col-sm-6.col-md-2
            .eq-ui-form-group
              input#Yes_.eq-ui-input.with-gap(name='group2', type='radio')
              label(for='Yes_') Yes
          .col-xs-12.col-sm-6.col-md-2
            .eq-ui-form-group
              input#No_.eq-ui-input.with-gap(name='group2', type='radio')
              label(for='No_') No

      .row
        .col-md-12
          p.text-form Please Write Your Comment Below:
          .eq-ui-form-group.eq-ui-input-field
            textarea#textarea_field.eq-ui-textarea(rows='1', placeholder="Enter your message here...")
            label(for='textarea_field')

      button.btn.btn-primary.btn-lg.eq-ui-waves-light(type='submit', name='submit', value='submit') Submit