extends layout-general

block content

  h1.title-header Corporate Partnership
  hr
  .main-content

    p
      | Lanarkshire Chamber of commerce has created a bespoke Corporate Partnership programme aimed at increasing engagement with our network of strategic partners in order to shape the local economy and represent the interests of individual companies. By becoming a Corporate Partner , organisations demonstrate their commitment to Lanarkshire Chamber and also the future prosperity of Lanarkshire as a whole. For more details please contact Anne Kennedy. <a href="anne.kennedy@lanarkshirechamber.org">anne.kennedy@lanarkshirechamber.org</a>