extends layout-general

block content
    .container
        .row
            .col-left.col-sm-12.col-md-8
              h1.title-header Event Sponsorship
              hr
              .main-content

                | Use Lanarkshire Chamber to promote your business. It is an opportunity for you to fully support and have prominent exposure to our membership and the wider business community in Lanarkshire. If you would like to sponsor an event please contact Anne Kennedy, anne.kennedy@lanarkshirechamber.org, who will be able tailor this marketing opportunity to suit your needs.

                  
            .col-right.col-xs-12.col-sm-7.col-md-4
              .row
                #member.col-lg-12
                  p
                    a(href='/page/membership')
                      img(src='https://353a23c500dde3b2ad58-c49fe7e7355d384845270f4a7a0a7aa1.ssl.cf2.rackcdn.com/img/f9424d0d4ff839695874b4d26a567833c1e4d331/becomemember.jpg')
                #adbanner.col-lg-12
                  h1.title InCommerce
                  p Read our Lanarkshire Chamber of Commerce latest Business Magazin.
                  p
                    a(href='https://issuu.com/dtechdesignersandpublishers/docs/lanarkshire_incommerce_iss16-issuu', target='_blank')
                      img(src='https://353a23c500dde3b2ad58-c49fe7e7355d384845270f4a7a0a7aa1.ssl.cf2.rackcdn.com/img/6226370de9d1675e9b49f02964f0de54d3fec4c2/incommerce.jpg')