extends layout-general

block content

  h1.title-header International Business
  hr
  .main-content
    p
      | We want to help you take your business to the world. We provide a range of export documents used in international trade and periodically run international trade events, training courses and trade missions. Explore this section for more information on the types of export documentation and the services we offer.
    h3#export-documents-and-international-business Export Documents and International Business
    h4#eu-certificates-of-origin EU Certificates of Origin
    p WHAT IS A EUROPEAN COMMUNITY (EC) CERTIFICATE OF ORIGIN AND WHY DO I NEED ONE?
    p
      | The European Community Certificate of Origin is a commercial or Customs clearance requirement in some countries to evidence the origin of the goods. A European Community Certificate of Origin may be called for in any country worldwide.
    p HOW Lanarkshire Chamber of Commerce can help:
    ul
      li Electronically
      li Over the counter from Lanarkshire Chamber of Commerce Offices
      li By post
    h4#legalisation Legalisation
    p
      | If you require your document to be legalised by a particular embassy, consulate, notary or the UK Foreign Office, we can handle the entire process for you, saving your business time and effort.
    h4#how-do-i-apply-for-an-ec-certificate-or-origin- How Do I Apply For An Ec Certificate Or Origin?
    ol
      li
        p
          | Complete Formal Undertaking - In order to obtain certified documents it is necessary for us to hold your signature on file. This is done in the form of a Formal Undertaking, which must be completed and signed by the Proprietor, Director, Partner or Company Secretary of your business and returned to the Chamber in original form by post, or over the counter. The formal undertaking must be renewed annually (i.e. you do not need a new Formal Undertaking with each EC Certificate of Origin as long as the one held by the Chamber is current and contains the relevant signature(s).
      li
        p
          | Purchase a Blank Original EC Certificate of Origin from Lanarkshire Chamber of Commerce
      li
        p Read Completion Instructions
      li
        p Apply over the counter, by post or electronically
    p
      | Members receive up to 50% discount on most export documents. For more information on Certificates of Origin, EUR1 and ATR Movement Certificates or any other export documents contact us on T: 01698 426 882 or Email info@lanarkshirechamber.org
    p
      | To chat through how becoming a member of Lanarkshire Chamber of Commerce can help your business, and save you up to 50% on export documentation contact us on T: 01698 426 882 or E: info@lanarkshirechamber.org Alternatively you can give us a few details here and we'll call you back or [link to application form] to post to us
    h4#eur-1-form-movement-certificate- EUR 1 Form (Movement Certificate)
    p
      | A EUR1 Movement Certificate is used to support claims for preferential (usually zero) rates of duty in the country of importation. To qualify thte goods must 'originate' in the UK or EU and be supported by a correctly completed and endorsed EUR1. The preference system only applies to countries where certain trade agreements exist with the EU. These countries are listed below.
      
    table.table.eq-ui-data-table.eq-ui-hoverable.z-depth-1#table-edt
      thead
        tr
          th.eq-ui-data-table-cell-non-numeric.eq-ui-data-table-cell-truncate List of Country
      tbody
        tr
          td.eq-ui-data-table-cell-non-numeric.eq-ui-data-table-cell-truncate Albania
          td.eq-ui-data-table-cell-non-numeric.eq-ui-data-table-cell-truncate Israel
          td.eq-ui-data-table-cell-non-numeric.eq-ui-data-table-cell-truncate Norway
        tr
          td.eq-ui-data-table-cell-non-numeric.eq-ui-data-table-cell-truncate Algeria
          td.eq-ui-data-table-cell-non-numeric.eq-ui-data-table-cell-truncate Jordan
          td.eq-ui-data-table-cell-non-numeric.eq-ui-data-table-cell-truncate Panama
        tr
          td.eq-ui-data-table-cell-non-numeric.eq-ui-data-table-cell-truncate Bosnia / Herzegovina
          td.eq-ui-data-table-cell-non-numeric.eq-ui-data-table-cell-truncate Lebanon
          td.eq-ui-data-table-cell-non-numeric.eq-ui-data-table-cell-truncate Serbia
        tr
          td.eq-ui-data-table-cell-non-numeric.eq-ui-data-table-cell-truncate Ceuta and Melilla
          td.eq-ui-data-table-cell-non-numeric.eq-ui-data-table-cell-truncate Liechtenstein
          td.eq-ui-data-table-cell-non-numeric.eq-ui-data-table-cell-truncate South Africa
        tr
          td.eq-ui-data-table-cell-non-numeric.eq-ui-data-table-cell-truncate Chile
          td.eq-ui-data-table-cell-non-numeric.eq-ui-data-table-cell-truncate Macedonia
          td.eq-ui-data-table-cell-non-numeric.eq-ui-data-table-cell-truncate Switzerland
        tr
          td.eq-ui-data-table-cell-non-numeric.eq-ui-data-table-cell-truncate Colombia
          td.eq-ui-data-table-cell-non-numeric.eq-ui-data-table-cell-truncate Mexico
          td.eq-ui-data-table-cell-non-numeric.eq-ui-data-table-cell-truncate Syria
        tr
          td.eq-ui-data-table-cell-non-numeric.eq-ui-data-table-cell-truncate Egypt Faroe Islands
          td.eq-ui-data-table-cell-non-numeric.eq-ui-data-table-cell-truncate Montenegro
          td.eq-ui-data-table-cell-non-numeric.eq-ui-data-table-cell-truncate Tunisia
        tr
          td.eq-ui-data-table-cell-non-numeric.eq-ui-data-table-cell-truncate Honduras
          td.eq-ui-data-table-cell-non-numeric.eq-ui-data-table-cell-truncate Morocco
          td.eq-ui-data-table-cell-non-numeric.eq-ui-data-table-cell-truncate Turkey
        tr
          td.eq-ui-data-table-cell-non-numeric.eq-ui-data-table-cell-truncate Iceland
          td.eq-ui-data-table-cell-non-numeric.eq-ui-data-table-cell-truncate Nicaragua
          td.eq-ui-data-table-cell-non-numeric.eq-ui-data-table-cell-truncate West Bank / Gaza Strip
    p
      | Cariforum Countries: Antigua and Barbuda, Bahamas, Barbados, Belize, Dominica, Dominican Republic, Grenada, Guyana, Jamaica, Saint Christopher and Nevis, Saint Lucia, Saint Vincent and the Grenadines, Suriname, Trinidad and Tobago, Haiti.
    h4#how-lanarkshire-chamber-of-commerce-can-help HOW Lanarkshire Chamber of Commerce can help
    ul
      li Electronically
      li Over the counter from Lanarkshire Chamber of Commerce Offices
      li By post
    h4#atr-movement-certificates ATR Movement Certificates
    p
      | The ATR Certificate entitles goods, which are in 'free circulation' in the EU (i.e. the goods are EU-originating, or on importation into the EU all the relevant duties and taxes have been paid) to receive preferential import duty treatment when shipped to Turkey. This applies to all eligible goods except agricultural goods, minerals and steel which require an EUR1 Movement Certificate.
      | Members receive up to 50% discount on most export documents.
    p
      | For more information on Certificates of Origin, EUR1 and ATR Movement Certificates or any other export documents contact us on T: 01698 426 882 or email
    p
      | To chat through how becoming a member of Lanarkshire Chamber of Commerce can help your business, and save you up to 50% on export documentation contact us on T: 01698 426 882 or E info@lanarkshirechamber.org Alternatively you can give us a few details here and we'll call you back or download an application form to post to us.
    h3#how-to-buy-export-documents-and-pricelist How to Buy Export Documents and Pricelist
    p
      | As a member of Lanarkshire Chamber of Commerce, your company is entitled to a 50% discount on the cost of all export documents. This is a significant saving which quickly adds up, particularly if your business currently exports abroad or has plans to do so in the future.
    p Click on the link to see our pricelist.