extends layout-general

block content
  h1.title-header Our Team
  hr
  .main-content
    p
      | The Board is supported from behind the scenes by a dedicated team of staff who are also responsible for ensuring the smooth functioning of the Chamber, arranging the extensive calendar of events on offer and developing the membership of the orgabnisation.
    p Neil Kennedy - Chief Executive
    p Anne Kennedy - Manager
    p Elspeth Brown - Document Administrator