extends layout-general

block content
	article.box.page
		h1.title-header= entry.title
		hr
		.main-content
			br
			.entry-date
				i(class="fa fa-clock-o", aria-hidden="true")
					date= dateFormat(entry.date, 'dddd, LL')
			br
			.lead-image
				img.img-responsive(src= entry.banner)
			br
			.lead-content
				!= entry.body