.font-13 {font-size: 13px!important;}
.font-14 {font-size: 14px!important;}
.font-15 {font-size: 15px!important;}
.font-16 {font-size: 16px!important;}
.font-18 {font-size: 18px!important;}
.font-20 {font-size: 20px!important;}
.font-22 {font-size: 22px!important;}
.font-24 {font-size: 24px!important;}
.font-26 {font-size: 26px!important;}
.font-28 {font-size: 28px!important;}
.font-30 {font-size: 30px!important;}
.font-32 {font-size: 32px!important;}
.font-34 {font-size: 34px!important;}
.font-36 {font-size: 36px!important;}
.font-40 {font-size: 40px!important;}
.font-43 {font-size: 43px!important;}
.font-thin {font-weight: 100!important;}
.font-light {font-weight: 300!important;}
.font-regular {font-weight: 400!important;}
.font-medium {font-weight: 500!important;}
.font-semi-bold {font-weight: 600!important;}
.font-bold {font-weight: 700!important;}
.font-x-bold {font-weight: 900!important;}
.text-uppercase {text-transform: uppercase!important;}

.p-0{padding:0px !important;}
.p-5{padding:5px !important;}
.p-10{padding:10px !important;}
.p-15{padding:15px !important;}
.p-20{padding:20px !important;}
.p-25{padding:25px !important;}
.p-30{padding:30px !important;}
.p-35{padding:35px !important;}
.p-40{padding:40px !important;}
.p-45{padding:45px !important;}
.p-50{padding:50px !important;}

.pt-0{padding-top:0px !important;}
.pt-5{padding-top:5px !important;}
.pt-10{padding-top:10px !important;}
.pt-15{padding-top:15px !important;}
.pt-20{padding-top:20px !important;}
.pt-25{padding-top:25px !important;}
.pt-30{padding-top:30px !important;}
.pt-35{padding-top:35px !important;}
.pt-40{padding-top:40px !important;}
.pt-45{padding-top:45px !important;}
.pt-50{padding-top:50px !important;}

.pr-0{padding-right:0px !important;}
.pr-5{padding-right:5px !important;}
.pr-10{padding-right:10px !important;}
.pr-15{padding-right:15px !important;}
.pr-20{padding-right:20px !important;}
.pr-25{padding-right:25px !important;}
.pr-30{padding-right:30px !important;}
.pr-35{padding-right:35px !important;}
.pr-40{padding-right:40px !important;}
.pr-45{padding-right:45px !important;}
.pr-50{padding-right:50px !important;}

.pb-0{padding-bottom:0px !important;}
.pb-5{padding-bottom:5px !important;}
.pb-10{padding-bottom:10px !important;}
.pb-15{padding-bottom:15px !important;}
.pb-20{padding-bottom:20px !important;}
.pb-25{padding-bottom:25px !important;}
.pb-30{padding-bottom:30px !important;}
.pb-35{padding-bottom:35px !important;}
.pb-40{padding-bottom:40px !important;}
.pb-45{padding-bottom:45px !important;}
.pb-50{padding-bottom:50px !important;}

.pl-0{padding-left:0px !important;}
.pl-5{padding-left:5px !important;}
.pl-10{padding-left:10px !important;}
.pl-15{padding-left:15px !important;}
.pl-20{padding-left:20px !important;}
.pl-25{padding-left:25px !important;}
.pl-30{padding-left:30px !important;}
.pl-35{padding-left:35px !important;}
.pl-40{padding-left:40px !important;}
.pl-45{padding-left:45px !important;}
.pl-50{padding-left:50px !important;}

.m-0{margin:0px !important;}
.m-5{margin:5px !important;}
.m-10{margin:10px !important;}
.m-15{margin:15px !important;}
.m-20{margin:20px !important;}
.m-25{margin:25px !important;}
.m-30{margin:30px !important;}
.m-35{margin:35px !important;}
.m-40{margin:40px !important;}
.m-45{margin:45px !important;}
.m-50{margin:50px !important;}

.mt-0{margin-top:0px !important;}
.mt-5{margin-top:5px !important;}
.mt-10{margin-top:10px !important;}
.mt-15{margin-top:15px !important;}
.mt-20{margin-top:20px !important;}
.mt-25{margin-top:25px !important;}
.mt-30{margin-top:30px !important;}
.mt-35{margin-top:35px !important;}
.mt-40{margin-top:40px !important;}
.mt-45{margin-top:45px !important;}
.mt-50{margin-top:50px !important;}

.mr-0{margin-right:0px !important;}
.mr-5{margin-right:5px !important;}
.mr-10{margin-right:10px !important;}
.mr-15{margin-right:15px !important;}
.mr-20{margin-right:20px !important;}
.mr-25{margin-right:25px !important;}
.mr-30{margin-right:30px !important;}
.mr-35{margin-right:35px !important;}
.mr-40{margin-right:40px !important;}
.mr-45{margin-right:45px !important;}
.mr-50{margin-right:50px !important;}

.mb-0{margin-bottom:0px !important;}
.mb-5{margin-bottom:5px !important;}
.mb-10{margin-bottom:10px !important;}
.mb-15{margin-bottom:15px !important;}
.mb-20{margin-bottom:20px !important;}
.mb-25{margin-bottom:25px !important;}
.mb-30{margin-bottom:30px !important;}
.mb-35{margin-bottom:35px !important;}
.mb-40{margin-bottom:40px !important;}
.mb-45{margin-bottom:45px !important;}
.mb-50{margin-bottom:50px !important;}

.ml-0{margin-left:0px !important;}
.ml-5{margin-left:5px !important;}
.ml-10{margin-left:10px !important;}
.ml-15{margin-left:15px !important;}
.ml-20{margin-left:20px !important;}
.ml-25{margin-left:25px !important;}
.ml-30{margin-left:30px !important;}
.ml-35{margin-left:35px !important;}
.ml-40{margin-left:40px !important;}
.ml-45{margin-left:45px !important;}
.ml-50{margin-left:50px !important;}

#header,.main-container{background:#fff;}
.main-container {padding: 50px 0}
#header .container{position: relative;}
#main-slider{padding: 250px 0 250px 0;}
#main-slider ul li .caption {
    position: absolute;
    bottom: 15%;
    left: 8%;
    width: 40%;
}
#main-slider ul li .caption h1 {
    font-weight: 700;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    -webkit-text-shadow: 1px 1px 1px #000;
}

#main-slider ul li .caption h3 {
    font-weight: 400;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    -webkit-text-shadow: 1px 1px 1px #000;
    -moz-text-shadow: 1px 1px 1px #000;
    -o-text-shadow: 1px 1px 1px #000;
    line-height: 1.4;
}

.navbar-nav li {
    text-transform: uppercase;
}
.navbar-nav li a {
    color: #888;
    padding: 10px 15px;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer !important;
}
.nav>li .dropdown-menu {
    padding-top: 0;
    padding-bottom: 0;
    border: none;
    overflow: hidden;
}
.nav>li .dropdown-menu>li>a {
    border-top: 1px solid #f3f3f3;
    box-shadow: 0 1px 1px 0 #f1f1f1;
    -webkit-box-shadow: 0 1px 1px 0 #f1f1f1;
    padding: 10px;
}
.nav>li:nth-child(3) .dropdown-menu>li>a:hover {
    background-color: #fff;
    color: #605371;
    cursor: default !important;
}
.nav>li:nth-child(2) .dropdown-menu a, .nav>li:nth-child(4) .dropdown-menu a {
    color: #888;
    font-weight: 400;
}
.nav>li .dropdown-menu .dropdown-menu-2 a::before, .nav>li:nth-child(2) .dropdown-menu a::before, .nav>li:nth-child(4) .dropdown-menu a::before {
    content: "";
    width: 20px;
    height: 20px;
    background: url(https://353a23c500dde3b2ad58-c49fe7e7355d384845270f4a7a0a7aa1.ssl.cf2.rackcdn.com/img/ecfbf933fa58f8536d19fb7efdd694b0a9c0a09a/stripe.png) 98% 2.4% no-repeat;
    float: left;
}
.nav>li .dropdown-menu>li>a {
    font-weight: 600;
    color: #605371;
    cursor: default;
}
.nav>li .dropdown-menu .dropdown-menu-2 a {
    display: block;
}
.nav>li.dropdown.open>a, .nav>li>a:focus, .nav>li>a:hover {
    background-color: #605371;
    color: #fff;
}
.nav>li .dropdown-menu li a:hover {
    background-color: #605371;
    color: #fff;
}
#contact ul {
    list-style: none;
    padding-left: 0;
    text-align: right;
}
#contact li {
    padding: 0 5px;
    display:inline-block
}
#contactstrong {
    color: #605371;
}

#menu-header {
    position: absolute;
    right: 0;
    bottom: -10px;
    text-align: right;
    z-index: 9;
}


#header-bg {
    padding: 40px 0;
    background: #605371 url(https://353a23c500dde3b2ad58-c49fe7e7355d384845270f4a7a0a7aa1.ssl.cf2.rackcdn.com/img/a35482e31c9314c82ec5432b2e8ae532150708dc/mainbannerbg.png) no-repeat 10% bottom;
}

.col-right h1.title {
    font-weight: 600;
    text-transform: capitalize;
    margin-top: 0;
}
h1.title-header {
    font-weight: 600;
    color: #605371;
    margin-top: 0;
}
h1.title {
    font-weight: 300;
    font-size: 36px!important;
    color: #605371;
    text-transform: uppercase;
}
.col-left h2, .col-left h3, .col-left h4 {
    color: #605371;
    font-weight: 400;
}
.col-right.col-md-4>.row>div {
    padding-bottom: 25px;
}

#calendar table {
    margin-top: 30px;
    margin-bottom: 10px;
    border-right: 1px solid #eee;
    width: 100%;
}
#calendar table thead th {
    font-size: 24px;
    padding: 5px 10px;
    background-color: #564a65;
    color: #fff;
    font-weight: 300;
    position: relative;
}
#calendar table thead th a.right {
    padding: 7px;
    color: #fff;
    font-size: 16px;
    line-height: 2.2;
    background-color: #51465f;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}
#calendar table tr td.event-date {
    padding: 0;
    text-align: center;
    background-color: #605371!important;
    margin: 0!important;
    border-radius: 0;
    width: 80px;
    height: 80px;
    vertical-align: middle;
    border-bottom: 1px solid #67597a;
}
#calendar table tr td.event-date div {
    font-weight: 300;
    color: #fff;
}
#calendar table tr td.event-date .date-cal {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 1px;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeSpeed;
}
#calendar table tr td.event-date .date-day {
    font-size: 24px;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #605371;
    line-height: 1;
}
#calendar table tr td.event-date .date-year {
    border-top: 1px solid #67597a;
    margin-top: 2px;
}
#calendar table tr td.event-desc {
    padding: 5px;
    background-color: #fefefe;
    border-bottom: 1px solid #eee;
}
#calendar table tr td.event-desc .event-title {
    margin-bottom: 0;
    line-height: 1.4;
}
#calendar table tr td.event-desc .event-title a {
    text-transform: capitalize;
    font-size: 18px;
}
.event-shortdesc p.read-more, .news-item .short-desc p.read-more {
    text-align: right;
}
.event-shortdesc p.read-more a, .news-item .short-desc p.read-more a {
    padding: 5px 10px;
    text-transform: uppercase;
}
.event-items, .news-item {
    border-bottom: 1px solid #eee;
}
.event-items .event-day, .news-item .published {
    margin-bottom: 15px;
    font-size: 14px;
}
.event-items .event-day date, .news-item .published date {
    text-transform: uppercase;
}
#mc_embed_signup #mc_embed_signup_scroll .mc-field-group {
    width: 70%;
    float: left;
    border-top-left-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    border-top-right-radius: 0;
    -webkit-border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    overflow: hidden;
}
#mc_embed_signup #mc_embed_signup_scroll .mc-field-group input {
    color: #333;
}
#mc_embed_signup #mc_embed_signup_scroll input {
    height: 45px;
    width: 100%;
    border: none;
    padding: 5px;
    outline: 0;
}
#mc_embed_signup #mc_embed_signup_scroll .mc-field-group-submit {
    width: 30%;
    float: right;
    border-top-right-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    overflow: hidden;
}
#mc_embed_signup #mc_embed_signup_scroll .mc-field-group-submit input {
    text-transform: uppercase;
    background-color: #564a66;
    color: #dedccd;
}

#copyright {background-color: #564a65;color: #fff;padding-top:10px}
#footer-layout-box {background-color: #605371;color: #fff; padding:80px 0px;}
#footer-layout-box h4{margin: 0 0 35px 0;}
#footer-layout-box li a {color: #fff;}
#footer-layout-box #social-media {
    margin-top: 25px;
}
#footer-layout-box #social-media li {
    display: inline-block;
    margin-right: 5px;
}
#footer-layout-box ul li i {
    background:#554963;
    line-height:20px;
    width:20px;
    font-size:13px;
    text-align:center !important;
    position:relative;
    margin-right:8px;
}
#footer-layout-box ul li i.fa-envelope{
    font-size:11px !important;
}

@media (max-width: 767px){
    #menu-header {
        position: relative;
        left: 0;
        text-align: left;
        bottom: 0;
        margin-top: 10px;
    }
    #main-slider  ul li .caption {
        width: 85%;
    }
    #header{padding-bottom: 0px !important;}
    .navbar-collapse, .navbar-header {
        border-top: 1px solid #dedccd;
    }
    .navbar-toggle {
        border: 1px solid #605371;
    }
    .navbar-toggle .icon-bar {
        background-color: #605371;
    }
}
@media (max-width: 640px){
    #main-slider ul li .caption {
        bottom: 12%;
        width: 100%;
        left: 0;
        padding: 10%;
        vertical-align: top;
    }
}


/*custom*/

 .main-content td,
 .main-content table td,
 .main-content p{
    color:#888 !important;
 }
 .main-content ol,
 .main-content ul {
    padding:10px 40px;
 }

 .main-content ul li{
    list-style:disc;
    color:#888;
 }

 #table-edt th{
   background:#605371;
   border:1px solid #564a65;
   color:#fff;
 }

 .main-content .text-form,
 .main-content .eq-ui-input-field label {
    font-weight: 400;
    color: #564a65 !important;;
    font-size:16px !important;
 }

 .main-content [type=radio].with-gap:checked+label:after {
    border-radius: 50%;
    border: 2px solid #605371 !important;
    background-color: #605371 !important;
    z-index: 0;
    -webkit-transform: scale(.5);
    transform: scale(.5);
}

  .main-content input.eq-ui-input[type=radio].with-gap:checked+label:before {
    border-radius: 50%;
    border: 2px solid #605371 !important;
}
  .main-content .btn-primary {
    border-radius: 5px !important;
    border: none;
    padding: 0px 30px !important;
    background-image: none;
    background-color: #605371 !important;
    color: #fff;
    font-weight: 300;
    text-transform: uppercase;
    outline: 0;
}

 .main-content ul:last-child li {
    list-style-type:circle !important;
}

 #contact-details li .fa{
   background:#605371;
   color:#fff;
   padding:4px;
   text-align:center;
   width:25px;
   max-width:auto; 
   margin-right:6px  
}

 .main-content #contact-details{ 
   padding:0px !important;
}

 #contact-details li{ 
   list-style:none;
   margin-bottom:5px;
}

 #contact-details .eq-ui-form-group {
   margin-bottom:25px;
}